.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
output/Career_Span_VenPlayers.png
output/dominican_mlb_debuts_all.png
output/dominican_mlb_debuts_chart_1.png
output/dominican_mlb_debuts_chart_2.png
output/dominican_mlb_debuts_chart_3.png
output/dominican_mlb_debuts_chart_4.png
output/dominican_mlb_debuts_chart_5.png
output/dominican_mlb_debuts_chart_6.png
output/venezuelan_mlb_debuts_chart_1.png
output/venezuelan_mlb_debuts_chart_2.png
output/venezuelan_mlb_debuts_chart_3.png
output/venezuelan_mlb_debuts_chart_4.png
output/venezuelan_mlb_debuts_chart_5.png
output/venezuelan_mlb_debuts_chart_6.png
output/venezuelan_mlb_players_analysis.qmd
videos/.DS_Store
videos/Lawrence_Butler_s_walk-off_single_mp4Avc.mp4
videos/Othani HR in Miami 2024.mp4
ven_players.rds
.gitignore
.gitignore
